<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UnavailiableLocation" value="Minsk"/>
    <add key="InvalidMobilePhone" value="-375291337322"/>
    <add key="InvalidEmail" value="helloworldmail.ru"/>
    <add key="FirstPassword" value="HelloWorld"/>
    <add key="SecondPassword" value="WorldHello"/>
  </appSettings>
</configuration>