<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ExistingLocation" value="Los Angeles"/>
    <add key="ValidFirstName" value="Dmitry"/>
    <add key="ValidLastName" value="Yaniuk"/>
    <add key="ValidMobilePhone" value="+375291337322"/>
    <add key="ValidEmail" value="helloworld@mail.ru"/>
    <add key="ValidPassword" value="Pa$$w0rd"/>
  </appSettings>
</configuration>